
.my--body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: #777777;
    background-image: url(/Users/Max/Desktop/Code/bootCampPractice/week2/Basic-Portfolio/assets/images/concrete_seamless.png)
}
.my--mainSection {
    
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin-top: 10px;
    margin-right: 25%;
    margin-left: 25%;
    background: #fff;
    border: 1px solid #ddd;
  }
.portfolioHeader{
    background: #4aaaa5;
    position: absolute;
    font-size: 16px;
    bottom: 20px;
    width: 220px;
    padding: 0px;
    margin-right: 1%;
    margin-left: 1%;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;  

}

.navbar-light .navbar-brand.my--dumbBlue{
    color: #4aaaa5;
}
.my--dumbBlue{
    color: #4aaaa5;
}

.portfolioImage{
    width: 220px;
    padding: 10px 20px 10px 20px;
}
#bio-image {
  width: 210px;
  height: 300px;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}
.my--button{
    background-color: #4aaaa5;
    border-color: #777777;
    color: #fff;
}
.my--text-center {
    color: #777777;

}

/* parallax */

.parallax-wrapper {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    opacity: 0.80
}

.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-image: url("/your-bkg.png");
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

/* fancy background */

.wrapper {
    width:100%;
    height: 100%;
    background: linear-gradient(45deg,#777777, #ffff, #4aaaa5 , #ffff, #777777);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}